.container {
    padding: 50px 0 50px;
    transition: all 0.5s ease-in;

    @media screen and (max-width: 767px) {
        padding: 20px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 25px;
    transition: width 0.5s ease-in;

    .ans {
        margin-top: 0;
        font-size: 30px;
        color: white;
    
        text-align: center;
        animation: fade-in 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
    }

    .img {
        width: 240px;
        height: 240px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0 0 5px 5px #b2edef;
    }
}

.buttonContainer {
    display: flex;
    justify-content: center;

    .button {
        width: 100px;
        height: 35px;
        margin: 0 5px 0;
        border: 0;
        border-radius: 5px;
        color: white;

        cursor: pointer;
        transition: all 0.3s ease-in;

        &:hover {
            transform: scale(1.05);
        }
    }
}

@keyframes scale {
    100% {
      transform: scale(1);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


