.App {
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #070824, rgb(89, 39, 39));

  transition: opacity 0.15s ease-in;

  overflow-x: hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
